<!DOCTYPE html>

<html>
    <head>
        <title>404 Error</title>
        <link rel="icon" href="/img/book.png">
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="particles-js"></div>
        {{>login}}
        {{>signup}}
        {{>header}}
        <div class="main-content">
            <h1>{{title}}</h1>
            <p>{{errMsg}}</p>
        </div>

        {{>footer}}
    </body>
</html>