<footer>
    <div class="name">
        <p>Created by {{name}}</p>
    </div>
    {{!-- <div class="social">
        <div class="tooltip">
            <a href="https://issues.masterj.heliohost.us/client/index.php#/types/2/projects/1/issues" class="fa fa-globe"></a>
            <span class="tooltiptext">Issues</span>
        </div>
        <div class="tooltip">
            <a href="mailto:tasks@masterj.heliohost.us" class="fa fa-envelope"></a>
            <span class="tooltiptext">Feedback</span>
        </div>
        <div class="tooltip">
            <a href="https://charts.mongodb.com/charts-library-database-gstws/public/dashboards/8db45dbb-1080-49c6-aa38-582ecbc8c476#" class="fa fa-server"></a>
            <span class="tooltiptext">Data</span>
        </div>
    </div> --}}
</footer>