@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap');

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #95ffe8;
  font-family: 'Encode Sans SC', sans-serif;
  background-color: rgb(51, 51, 51);
  background-attachment: fixed;
  max-width: 100%;
  margin: 0;
  padding: 0 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

p {
  padding-left: 10px;
}

.main-content p {
  text-align: center;
  line-height: 105%;
}

.main-content {
  margin: 0 auto;
  text-align: center;
}

#thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

header {
  z-index: 1;
}

footer p {
  padding-left: 25px;
}

footer {
  color: #95ffe8;
  margin-top: 16px;
  padding: 10px;
  box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(3px);
  z-index: 1;
}

footer .name {
  float: left;
}

h1 {
  z-index: 2;
  font-size: 64px;
  margin-bottom: 16px;
  margin-top: 75px;
  padding-left: 10px;
}

.main-content h1 {
  z-index: 2;
  font-size: 64px;
  margin-bottom: 16px;
  margin-top: 20px;
  text-align: center;
}

a {
  z-index: 2;
  color: #95ffe8;
}

div.links a {
  color: #95ffe8;
  margin-right: 16px;
  text-decoration: none;
  z-index: 2;
}

.portrait {
  width: 190px;
}

input {
  padding: 8px;
}

button {
  cursor: pointer;
  background: #95ffe8;
  color: rgb(51, 51, 51);
  padding: 8px;
  background-color: #95ffe8;
  margin: 8px 0;
  border: none;
  z-index: 2;
}

.search {
  display: inline-block;
  margin-right: 10px;
}

#sortBy {
  display: inline-block;
  border: 1px solid #95ffe8;
  background: #95ffe8;
  color: rgb(51, 51, 51);
  height: 33px;
  width: 60.25;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  backdrop-filter: blur(2px);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(51, 51, 51);
  backdrop-filter: blur(2px);
  margin: 5px auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  max-width: 60%;
  /* Could be more or less, depending on screen size */
  max-height: 80%;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Bordered form */
form.modal-content animate {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 18%;
  height: 18%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

#logout_button {
  display: none;
}

html body div.links {
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 200%;
  padding: 6px;
}

html body div.links a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.psw-colour {
  color: #95ffe8;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 75px;
  background-color: #95ffe8;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 90%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #95ffe8 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.masonry {
  margin: 1.5em;
  max-width: 1080px;
  column-gap: 2em;
  grid-auto-flow: row;
  height: auto;
}

.content {
  border-radius: 10px;
  backdrop-filter: blur(3px);
  position: relative;
  transform-style: preserve-3d;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.item {
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: 0 0 2em;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  transform: perspective(500px);
  transform-style: preserve-3d;
}

.js-tilt-glare {
  border-radius: 10px;
}

.itemstuff {
  display: inline-block;
  transform: translateZ(40px);
  color: rgb(0, 190, 204);
  width: inherit;
  padding-right: 0.7em;
  padding-bottom: 0.7em;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

.content.active {
  transform-style: preserve-3d;
  transform: translateY(0);
  opacity: 1;
}

.addcontainer {
  top: 92vh;
  left: 93vw;
  position: sticky;
  width: 64px;
  z-index: 2;
}

.add {
  fill: rgb(0, 247, 255);
  fill-opacity: 1;
}

.options {
  fill: rgb(0, 247, 255);
  fill-opacity: 1;
  margin: 0 10px 0 10px;
}

.colourbox {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  padding-top: 60px;
}

#colour {
  display: block;
  background-color: rgb(51, 51, 51);
  margin: 5px auto;
  border: 1px solid #888;
  width: 60%;
  height: 90%;
}

.addbox {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  padding-top: 60px;
}

#add {
  display: block;
  background-color: rgb(51, 51, 51);
  margin: 5px auto;
  border: 1px solid #888;
  width: 60%;
  height: 90%;
}

input[type="color"] {
  display: block;
  margin: 50px auto 0 auto;
  background: none;
  border: 0;
  cursor: pointer;
  height: 50%;
  padding: 0;
  width: 50%;
}

#addinput {
  display: block;
  margin: 50px auto 0 auto;
  border: 0;
  height: 50%;
  width: 50%;
}

#coloursubmit {
  display: block;
  margin: 50px auto 0 auto;
}

#addsubmit {
  display: block;
  margin: 50px auto 0 auto;
}

#cancel {
  display: block;
  margin: 50px auto 0 auto;
}

#cancel2 {
  display: block;
  margin: 50px auto 0 auto;
}

.date {
  font-size: .8rem;
}

.d {
  font-size: 1.5rem;
  font-weight: 600;
  word-break: break-all;
}

.done {
  font-size: 1.2rem;
  font-weight: 500;
}